---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import IconoWsp from "../components/icons/wsp.jsx";
import CajaProducto from "../components/boxProduct.astro";
import AgregarProducto from "../components/agregarProducto.astro";
import Layout from "../layouts/layout.astro";
import type { ProductClient } from '../types/products'

// Fetch
const response = await fetch('http://localhost:8080/productos-clientes?state=true');
const boxs: ProductClient[] = await response.json();

console.log(boxs.map(box => box.name))

// Para agregar productos aparte a las cajas
const productos = [
  { name: "Ajo de Cabeza", unit: "un", price: 390 },
  { name: "Albahaca", unit: "60 gr", price: 1290 },
  { name: "Mata de apio", unit: "un", price: 1990 },
  { name: "Berenjena", unit: "un", price: 890 },
  { name: "Betarraga", unit: "3 un", price: 1590 },
  { name: "Brócoli", unit: "un", price: 1990 },
  { name: "Bruselas", unit: "500 gr", price: 2990 },
  { name: "Cebolla Morada", unit: "kg", price: 1990 },
  { name: "Cebollín", unit: "3 un", price: 1490 },
  { name: "Choclo", unit: "3 un", price: 2490 },
  { name: "Ciboulette", unit: "un", price: 490 },
  { name: "Cilantro", unit: "200 gr", price: 1490 },
];
---

<Layout
  title="Season Harvest | Clientes"
  nameContent="Sección de clientes | Season Harvest"
  contenido="Productos de Verduleria y fruteria Season Harvest para nuestros clientes."
  url="https://seasonharvest.cl/clientes/"
>
  <div id="inicio" class="containerBody">
    <Header showImg={false} />

    <div class="containerClientes">
      <h1>Productos para Clientes</h1>
      <div class="containerProductos">
        <!-- Caja de Productos -->
        {
          boxs.map(box => (
            <CajaProducto
              title={box.name}
              tipoBox={box.name}
              precio={box.price}
              productos={box.productos}
            />
          ))
        }
        <!-- Tarjeta para agregar mas productos -->
        <AgregarProducto products={productos} />
      </div>
    </div>

    <div class="containerMapa">
      <div class="header">
        <h1>Mapa de despachos</h1>
      </div>

      <div class="mapa">
        <!-- Imagen del mapa de santiago -->
      </div>

      <div class="containerInfoMapa">
        <!-- Informacion del precio segun ruta -->
        <!-- Contenedor header -->
        <div class="containerInfoMapa-header">
          <h1>Valores despachos</h1>
        </div>

        <!-- Contenedor de la tabla de precios -->
        <div class="containerInfoMapa-body">
          <div class="containerInfoMapa-body-izq">
            <div class="containerBody-izq-p">
              <p>Pedidos se reciben toda la semana.</p>
              <p>Despachos <span>sólo los viernes.</span></p>
            </div>
            <div class="containerBody-izq-wsp">
              <IconoWsp />
              <div class="containerBody-izq-link-wsp">
                <a
                  href="https://wa.me/+56966177010"
                  target="_blank"
                  rel="noopener noreferrer">+56 9 6617 7010</a
                >
                <a
                  href="https://wa.me/+56966845560"
                  target="_blank"
                  rel="noopener noreferrer">+56 9 6684 5560</a
                >
              </div>
            </div>
          </div>
          <div class="containerInfoMapa-body-centro"></div>
          <div class="containerInfoMapa-body-der">
            <div class="containerBody-der-valor">
              <p><span>Dentro</span> de la circunvalación de Vespucio.</p>
              <div class="containerPrecio">
                <p>$2.000</p>
              </div>
            </div>
            <div class="containerBody-der-valor">
              <p><span>Fuera</span> de la circunvalación de Vespucio.</p>
              <div class="containerPrecio">
                <p>$3.500</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Footer />
  </div>

  <script type="module">
    document.addEventListener("DOMContentLoaded", function () {
      const e = document.getElementById("check");
      document.querySelectorAll("nav ul li a").forEach((n) => {
        n.addEventListener("click", () => {
          e.checked = !1;
        });
      });
    });
  </script>
</Layout>
