---
const {title, text, text2, text3, img, altImg} = Astro.props;
---

<div class="containerSection">
    <div class="containerSection-left">
        <span class="section-eyebrow">Season Harvest</span>
        <h1>{title}</h1>
        <div class="section-divider"></div>
        <p>{text}</p>
        <p>{text2}</p>
        <p>{text3}</p>
    </div>
    <div class="containerSection-right">
        <img class="img-bg" src={img} alt={altImg} />
    </div>
</div>
