---
interface Props {
    title: string;
    contenido: string;
    nameContent: string;
    url?: string;
}

const { title, nameContent, contenido, url } = Astro.props;
import SHIcon from "../../public/images/logo.ico";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- SEO -->
        <meta name={nameContent} content={contenido} />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="Verdulería Virtual" />
        <meta property="og:url" content={url} />
        <meta
            property="og:image"
            content='"../../public/images/delivery.jpg"'
        />
        <meta name="theme-color" content="#0d5a48" />

        <link rel="icon" href={SHIcon} type="image/x-icon" />

        <!-- Css de Index -->
        <link rel="stylesheet" href="/public/styles/index.css" />
        <!-- Css de Clientes -->
        <link rel="stylesheet" href="/public/styles/indexClientes.css" />
        <!-- Css de Error 404 -->
        <link rel="stylesheet" href="/public/styles/404.css" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
